@use "sass:map";

$select: ".color" !default;

$list: (
    dark: black,
    light: white,
    primary: #002537,
    accent: #1cdee8,
    highlight: #f5cc22,
    callout: #ff0000,
    placeholder: whitesmoke,
    border: #cfcfcf
);

@function get($name) {
    @return map.get($list, $name);
}

@mixin selectors {
    #{$select} {
        @each $name, $color in $list {
            &-#{$name} {
                color: $color;
                font-weight: bold;
            }
        }

        @content;
    }
}
